/folder
/work_python
/1python
/2python
/3python
/4python
/5python
/6python
/7python
/8python
/9python
/10python
/11python
/12python
/13python
/14python
/15python
/16python
/17python
/18homework_python
/19homework_python
/20homework_python
/21homework_python
/22homework_python
/23homework_python
/24homework_python
/25homework_python
/26homework_python
/27homework_python
/28homework_python
/29homework_python
/30homework_python
/31homework_python
/32homework_python
/33homework_python
/34homework_python
/35homework_python
/36homework_python
/37homework_python
/38homework_python
/39homework_python
/40homework_python
/41homework_python
/42homework_python
/43homework_python
/44homework_python
/46homework_python
/47homework_python
/48homework_python
/49homework_python
/50homework_python
/51homework_python
/52homework_python
/venvAdmin_old
text.txt