{% extends 'base.html' %}  # расширяем родительский шаблон

{% block content %}
{{ super() }}
БЛЕЙД-ШАССИ IBM/LENOVO BLADECENTER S
<div class="box-product">
    <div class="hp0">
        <div class="image">
<!--            <a><img src="../templates/xxxxxx.gif">-->
            </a>
        </div>
        <div class="name">
            <a href="">БЛЕЙД-ШАССИ IBM/LENOVO BLADECENTER S</a>
        </div>
        <div class="attributes">
            <table class="table">
                <tbody>
                    <tr class="odd">
                        <td>Форм-фактор:</td>
                        <td>7U</td>
                    </tr>
                    <tr>
                    <td>Блок питания:</td>
                    <td>1450 Вт</td>
                    </tr>
                    <tr class="odd">
                        <td>Максимальное количество блоков питания:</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}