{% extends 'base.html' %}  # расширяем родительский шаблон

{% block content %}
{{ super() }}
СЕРВЕРЫ HP/HPE PROLIANT ML350P GENERATION 8 (GEN8)
<div class="box-product">
    <div class="hp0">
        <div class="image">
<!--            <a><img src="../templates/ML350P-190x190.gif">-->
            </a>
        </div>
        <div class="name">
            <a href="">ML350p Gen8 E5-2609v2  (736947-421)</a>
        </div>
        <div class="attributes">
            <table class="table">
                <tbody>
                    <tr class="odd">
                        <td>Процессор серии E5-2600:</td>
                        <td>Intel® Xeon® E5-2609v2 (4-ядерный, 2,5 ГГц, 10 МБ)</td>
                    </tr>
                    <tr>
                    <td>Количество процессоров:</td>
                    <td>1</td>
                    </tr>
                    <tr class="odd">
                        <td>Количество ядер процессора:</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Максимальное количество процессоров:</td>
                        <td>2</td>
                    </tr>
                    <tr class="odd">
                        <td>Форм-фактор:</td>
                        <td>5U</td>
                    </tr>
                    <tr>
                        <td>Блок питания:</td>
                        <td>460 Вт</td>
                    </tr>
                    <tr class="odd">
                        <td>Максимальное количество блоков питания:</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}