{% extends 'skills/base.html' %}
{% load static %}
{% block content %}

<h2>Разработка:</h2>

<div class="block">
    {% for development in developments %}
    <div class="element">
        <div class="img49"><img src="{{ development.image.url }}" alt=""></div>
        <div class="text">
            <h2><a href="{{ development.url }}" target="_blank">{{ development.title }}</a></h2>
            <p>{{ development.description }}</p>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}