body {
    padding: 0; /*обнулим отступы*/
    margin: 0; /*обнулим отступы*/
    font-family: Arial, Helvetica, sans-serif
}
.wrap{
    max-width: 1200px;
    margin: 0 auto; /*выравнивание по центру*/
    padding: 10px 30px;
    box-sizing: border-box;
}
.menu{
    background: #003366;
    box-shadow:0 2px 12px 2px #003366;/*тень, 0-сдвиг по оси х не делаем, по оси y на 2px, 12px-размытие, 2px- растяжение тени */
}
ul {
    list-style: none; /*маркеры списка убрали*/
    padding: 0;
}
.menu a{
    color: #FFF;/*ссылки белого цвета*/
}
.menu ul {
    display: flex; /*чтобы элементы стали в одну строку*/
    justify-content: space-between; /*чтобы элементы растянулись на всю ширину*/
    align-items: center; /*выравнивание по центру*/
    font-size: 20px; /*размер шрифта*/
}
.menu .logo{ /*элемент меню- Пользователь*/
    color:#FFF;
    margin-right: 30%;/*чтобы пункты меню отодвигались вправо относительно элемента Пользователь*/
}
a {
    text-decoration: none; /*уберем подчеркивание со ссылок*/
}

.content .wrap{
    display: flex;
    flex-direction: column;    /*направление главной оси со значением column*/
    align-items: center; /*содержимое выранивается по центру*/ 
    justify-content: center;
    margin-top: 40px;
}
h1, h2{
    color: #003366;
}
.btn{
    background: #003366;
    color: #FFF;
}
button{  /*кнопка*/
    border-radius: 6px;
    box-shadow: inset 0 0 6px 2px #FFF; /*тень внутри - 'inset'*/
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer; /*при наведении на кнопку появляется рука*/
}
.center{
    text-align: center;
}
input {
    width: 100%;  /*Имя пользователя и Пароль на одной строке а ввод на другой строке*/
    padding: 6px 10px; /*сверху и снизу по 6 а слева и справа по 10*/
    box-sizing: border-box;
    margin-top: 4px; /*label сверху отошёл вверх*/
}
.bg{ /*форма авторизации*/
    box-shadow: 0 2px 12px 2px #003366; /*тень*/
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}
.top{ /*кнопка Выйти*/
    padding: 4px 24px;
    margin-top: 0;
    background: transparent; /*убрать фоновый цвет*/
    border: none; /*убираем рамку, тень остается button*/
    color: #FFF; /*цвет белый*/
}

.content li{ /*currenttodos*/
    box-shadow: 0 2px 8px 2px #003366;
    margin-bottom: 20px;
    font-size: 20px;
}
.content a{ /*currenttodos*/
    color: #000;
    display: block;
    padding: 20px;
}
.but{ /*кнопки сохранить, выполнено, удалить*/
    display: flex;
    align-items: flex-end;
}
.good{
    background: teal;
}
.remove {
    background: orangered;
}
a b{ /*заголовки задач*/
    color: orangered;
}
.left{
    /*float: left;*/
}
.right{
    text-align: right;
}
/*доработка формы Регистрации-----*/
.register ul{
    margin-top: -16px;
}
. register li{
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 0;
}
.registr label{
    color: teal;
    font-size: 18px;
    font-weight: bold;
}
.register button{
    margin-top: 10px;
}
/*---------------------------------*/
